body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 15px;
  text-align: center;
  background: #1e293b;
  font-weight: bold;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.msg {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 80%;
}

.user {
  background: #2563eb;
  align-self: flex-end;
}

.bot {
  background: #334155;
  align-self: flex-start;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #1e293b;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
}

button {
  padding: 10px;
  margin-left: 5px;
  background: #22c55e;
  border: none;
  color: white;
  }
